﻿@model PraksiProject.Models.ZafateniPraksi

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ZafateniPraksi</legend>

    <div class="display-label">Име</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImeStudent)
    </div>

    <div class="display-label">Презиме</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrezimeStudent)
    </div>

    <div class="display-label">ID на праксата</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IDPraksa)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Избриши" /> |
        @Html.ActionLink("Back to List", "IndexAdmin")
    </p>
}
