﻿@model PraksiProject.Models.ZafateniPraksi

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ZafateniPraksi</legend>

    <div class="display-label">ImeStudent</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImeStudent)
    </div>

    <div class="display-label">PrezimeStudent</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrezimeStudent)
    </div>

    <div class="display-label">IDPraksa</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IDPraksa)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
