﻿@model PraksiProject.Models.ZafateniPraksi

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Зафати пракса</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.ImeStudent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImeStudent)
            @Html.ValidationMessageFor(model => model.ImeStudent)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PrezimeStudent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PrezimeStudent)
            @Html.ValidationMessageFor(model => model.PrezimeStudent)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IDPraksa)
        </div>
        <div class="display-label">
            @Html.EditorFor(model => model.IDPraksa)
         </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "../Praksi/IndexUser")
</div>
