﻿@model IEnumerable<PraksiProject.Models.ZafateniPraksi>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table>
    <tr>
        <th>
            Име
        </th>
        <th>
            Презиме
        </th>
        <th>
            ID на праксата
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ImeStudent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrezimeStudent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDPraksa)
        </td>
        <td>
            
         
            
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })| 
        </td>
    </tr>
}

</table>
