﻿@model PraksiProject.Models.Praksi

@{
    ViewBag.Title = "Create";
}

<h2>Додај нова пракса</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Praksi</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Drzava)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Drzava)
            @Html.ValidationMessageFor(model => model.Drzava)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Grad)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Grad)
            @Html.ValidationMessageFor(model => model.Grad)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Oblast)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Oblast)
            @Html.ValidationMessageFor(model => model.Oblast)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Vremetraenje)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Vremetraenje)
            @Html.ValidationMessageFor(model => model.Vremetraenje)
        </div>

        <p>
            <input type="submit" value="Додај" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Назад во листата", "Index")
</div>
