﻿@model PraksiProject.Models.Praksi

@{
    ViewBag.Title = "Delete";
}

<h2>Избриши пракса</h2>

<h3>Дали сте сигурни дека сакате да ја избришете праксата?</h3>
<fieldset>
    <legend>Praksi</legend>

    <div class="display-label">Држава</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Drzava)
    </div>

    <div class="display-label">Град</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Grad)
    </div>

    <div class="display-label">Област</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Oblast)
    </div>

    <div class="display-label">Времетраење</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vremetraenje)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Избриши" /> |
        @Html.ActionLink("Назад во листата", "Index")
    </p>
}
