﻿@model PraksiProject.Models.Praksi

@{
    ViewBag.Title = "Details";
}

<h2>Детали</h2>

<fieldset>
    <legend>Praksi</legend>

    <div class="display-label">Држава</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Drzava)
    </div>

    <div class="display-label">Град</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Grad)
    </div>

    <div class="display-label">Област</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Oblast)
    </div>

    <div class="display-label">Времетраење</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vremetraenje)
    </div>
</fieldset>
<p>
    
    @Html.ActionLink("Назад во листата", "IndexUser")
</p>
