﻿@model IEnumerable<PraksiProject.Models.Praksi>

@{
    ViewBag.Title = "Index";
}

<h2>Корисник</h2>

<p>
   
</p>
<table>
    <tr>
        <th>
            Држава
        </th>
        <th>
            Град
        </th>
        <th>
            Област
        </th>
        <th>
            Времетраење во недели
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Drzava)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Oblast)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vremetraenje)
        </td>
        <td>
           
            @Html.ActionLink("Детали", "Details", new { id=item.ID }) |
            @Html.ActionLink("Зафати", "../Zafateni/ZafatiPraksa", new { id=item.ID })
        </td>
    </tr>
}

</table>
